body {
border-bottom: solid 4px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
color:rgb(255, 255, 255);
background-color: black;
margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 4px;
    border-top: solid 4px;
    text-align: center;
}

nav ul{
display: flex;
list-style: none;
align-items: center;
}

ul li {
    margin-left: 40px;
    align-items: center;
}

ul li a{
    color: white;
    align-items: center;
}

h1{
    font-size: 32px;
}

img{
margin-top: 2px;
margin-bottom: 2px;
margin-left: 30px;
}

footer{
    border-top: solid 4px;
    border-color: rgb(255, 255, 255);
}
main{
    background-color: rgb(146, 146, 146);
    border-bottom: solid 40px;
    border-color: black;
}
main button {
border-radius: 100px;
color: blue;
background-color: rgb(255, 255, 255);
margin-left: 20px;
margin-top: 10px;
}

header {
    margin-bottom: 40px;
}

div {
    background-color: aliceblue;
    margin-bottom: 40px;
}